.page-container {
    width: inherit;
    max-width: 100%;
    margin: auto;
    background-color: #FFF;

}


.navbar {
    background:#373737

}

.container-fluid {
    background:#373737

}

.img {
    position: relative;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
}

.overview {
    padding-top: 50px;
    margin-right: 0%!important;
    margin-left: 0%!important;
}

a div.col-md-4.col-sm-6 p, a div.col-md-4.col-sm-6 h3{
    padding-left: 25px;
    color: #b70101;
  
}