body {
  font-family: Lato;
  color:#042F59;
}

head {
  font-family: Lato;
  color:#042F59;
}

h1,h2,h3 {
    font-family:Lato;
    color:#042F59;
}

p {
    letter-spacing: 1.4px;
    color:#042F59;
}

*ul li:before {
    list-style-type: none!important
}

.thumbnail.tile.tile-medium {
    border:none;
    transform: scale(0.6);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    background-color: #042F59;

}

.bjia-image {
    opacity:.9
}

.d-block.w-100 {
    transform: scale(0.4);
}

.fa-links {
    font-size:28px;
}

.tileHeading {
    font-size:28px !important;



}

.wrapper {

}

.row {
   
}

#programTileHeading{
   border:none;
    transform: scale(.9);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    background-color: #042F59
}

.programRow{
   margin-top: 30px;
   background-color: rgba(4, 47, 89, 0.1);
   padding:20px 20px 20px 20px
}

.overview {
    padding-top:15px;
    padding-bottom:15px;
}

.navbar {
    margin-bottom:0px;
    background-color: #042F59
  
}

.container{
    padding-top:0px
}

#programContainer{
   padding-top:20px
}


#programInfo{
   

}



.container-fluid {

}

.navbar-nav.navText {
  
   
}

#navText {
    text-align:left;
    color:white;

}

.navbar-collapse{
    text-align:left;
    float:left;
 
}

.navbar-collapse{
  
    text-align:left;
}

.navbar-toggle-collapse{
    background-color:white;
   

}

.navbar-toggle{

}



.icon-bar{
    background-color:white;
}

.col-sm-6.col-md-3 {
    padding-bottom:0px;
    height:100px

}

#navText li {
list-style-type: none!important
}

li{
    list-style: none
}

ul {
    list-style: none
}

.collapse navbar-collapse navbar-right{
    list-style-type: none;
}
li::before{
    list-style-type: none;
}

